header{
  z-index: 1000;
  width: 100%;
}
.nav-bar{
  width: 100%;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  h1{
    color: white;
    font-size: 20px;
  }
  a{
    margin-right: 15px;
    color: white;
  }
}
